<style type="text/css">
	.mino{
		background:#fff;
		color:#f00;
		padding:20px;
	}
</style>
<h1>Enter Details</h1>
<!-- <form action="/users/create" method="post">
    Enter Email:- <input type="text" name="email"/> <br>
    Enter Username:- <input type="text" name="username"/> <br>
    <button type="submit">Save User</button>
</form> -->


<%= form_for @user, :url=> {} do |f| %>
	
	<%= render  :partial => 'users/shared/form', :locals => { f: f } %> 

<% end %>


<h1>
	<% if @msg && @msg.class != String %> 
		<% @msg.each do |m| %> 
			<h2>
				<%= m %> 
			</h2>
		<% end %> 
	<% else %> 
		<h1>
			<%= @msg %> 
		</h1>
	<% end %> 
</h1>

<% if @users && @users.size > 0  %>
<% @users.each do |u| %>
<p>
    <%= u.email %> with username :- <%= u.username %> <a href='/users/delete?id=<%= u.id %>'> Delete </a>  <a href='/users/edit?id=<%= u.id %>'> Edit </a> 
</p>
<% end %>
<% end %>